    * {
    font-family: 'Inter', sans-serif;
    }     
    
    .AddItem {
    width: 1440px;
    height: 870px;
    border: solid #ffffff;
    }

    #AddItemTitle {
    padding: 100px 30px 20px 20px;
    }

    .selectCategory {
    margin: 0px 20px;
    width: 180px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid #000;
    background: #FFF;
    }

    select, input[type="text"]{
    width:100%;
    box-sizing:border-box;
    }

    #itemForm input, select {
    width: 330px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFF;
    font-size: 80%;
    }

    .itemFormContainer {
   display: flex;
   flex-direction: row;
   margin-left: 200px;
    }

    #uploadImage {
    padding: 20px 20px;
    }    

    #itemForm {
    padding: 60px 0px;
        }    
    
    #cancel,  #create {
    width: 112px;
    height: 44px;
    padding: 8px 16px;
    margin: 25px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    } 
    
    
   #cancel {
    color: var(--braun, #504538);
    text-align: center;
    border-radius: 13px;
    background: var(--White, rgba(255, 255, 255, 0.55));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }

    #create {
    color: var(--Ultra-Light-Gray, #FFF);
    text-align: center;
    border-radius: 13px;
    background: var(--braun, #504538);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25); 
    }  
