* {
    font-family: 'Inter', sans-serif;
    }     
    
    .addItem {
    width: 1440px;
    height: 650px;
    margin: auto;
    }

    .addItem h2 {
    padding: 130px 30px 20px 0px;
    }

    .select {
        margin-top: 20px
    }