* {
  font-family: 'Inter', sans-serif;
}

body {
  height: 100vh;
  width: 1440px;
  margin: auto;
}

/*Nav css */

#logo {
  width: 149px;
  height: 95px;
  padding-left: 40px;
  padding-top:10px;
}

.navbar {
  width: 1440px;
  height: 110px;
  flex-shrink: 0;
  border: 2px solid #797070;
  background-color: #2D261E;
  cursor: pointer;
  position: fixed;
  z-index: 100;
}


.navbar li {
  color:#E6E6E6;
  display: inline;
  padding: 30px 30px;
  text-shadow: 3px 3px 5px rgb(92, 90, 90);
  font-size: 120%;
  font-weight: bold;
}


 li :hover {
  color: #615d58;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Banner css */
#banner {
  width: 1440px;
  height: 800px;
  padding-top: 110px;
}

.bannertext  {
  position: absolute; 
  width: 800px;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -35%);
}


.bannertext h1 {
  color: var(--braun, #504538);
  text-align: center;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 55px;
  font-style:normal;
  font-weight: bold;
  line-height: 24px; /* 50% */
  letter-spacing: 1.92px;
}

.bannertext h2 {
  color: #2E2B2B;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

#CreateClosetButton {
  color: rgb(0, 0, 0);
  position: absolute; 
  margin-top: 20px;
  width: 300px;
  height: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 16px;
  justify-content: center;
  border-radius: 8px;
  background: rgba(22, 22, 22, 0.70);
  backdrop-filter: blur(3.5px);
  color: var(--light-gray, rgba(255, 255, 255, 0.70));
/* Caps L */
  font-size: 20px;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: 0.8px;
}


.howitworks h2,
.signin h2 {
  text-align: center;
  padding: 30px;
  color: var(--blackish, #2E2B2B);
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-weight: 800;
  line-height: 24px;
  /* 60% */
  letter-spacing: 1.6px;
}

/*How it Works css */
.howitworks {
  width: 1440px;
  height: 450px;
  background-color: #F5F5F5;
  margin-top: -40px;
}

.images,
.paragrafs {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 200px;
  margin-left: 100px;
}

.paragrafs {
  
  margin-right: 200px;
  margin-left: 100px;
}

.howitworks img {
  width: 227.946px;
  height: 226.974px;
  flex-shrink: 0;
  border-radius: 25px;
  background: lightgray -0.914px -5.68px / 110.455% 169.012% no-repeat, #D9D9D9;
  box-shadow: 7px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.howitworks p {
  width: 227.946px;
  height: 226.974px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  /* 125% */
  letter-spacing: 1.92px;
}

/* Rgister */

.register {
  width: 1440px;
  height: 630px;
  background-color: #E0B57E;
   

}
.form-container h3 {
  color: #2E2B2B;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 70% */
  text-decoration: underline solid #2E2B2B;
}

.form-container {
  flex-shrink: 0;
  background-color: #E0B57E;
  margin-left: 150px;
  margin-right: 200px;
  float: left;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  width: 432px;
  height: 30px;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 2px solid #000;
  background: var(--white, rgba(255, 255, 255, 0.70));
  cursor: pointer;
}

.form-field-button {
  width: 300px;
  height: 50px;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid  #FFF;
  background:  #504538;
  color:  #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-weight: 500;
  line-height: 24px; /* 80% */
}

.form-field-button:hover {
  background: #5d554c;
}


.success-message {
  background-color: #7cd49f;
  padding: 10px;
  color: white;
  text-align: center;
}

span {
  font-size: 10px;
  color: rgb(194, 53, 53);
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
}

.error {
  border-style: solid;
  border: 1px solid #ffa4a4;
}

.member{
  color: #000;

  /* Body L */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.member p {
  color: #000;
/* Link L */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

button:disabled {
  cursor: default;
}

 #signuppicture {
  width: 410px;
  height: 410px;
  margin-top: 111px;
  background: lightgray -1.758px -7.731px / 154.883% 103.256% no-repeat, #D9D9D9;
  box-shadow: 7px 13px 10px 0px rgba(0, 0, 0, 0.25);
 }


 /*Footer */

 .footer {
  width: 1440px;
  height: 150px;
  background: var(--braun, #6c584c);
  display: flex;
  align-items: center;
}

#logofooter {
  width: 149px;
  height: 95px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
 }

 .footer h3{
  color: #FFF;
/* Link L */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
 }

 .followus {
  padding-top:50px;
  text-align: center;
  left: 50%;
  position: absolute;
 }

 .followus img {
  padding: 10px;
 }


