* {
font-family: 'Inter', sans-serif;
}
  

.MyCloset {
width: 1440px;
height: 1080px;
margin: auto;
border: solid #ffffff;
}

#additem {
width: 255px;
height: 44px;
padding: 8px 16px;
color:#161616;
font-size: 30px;
line-height: 24px;
border-radius: 13px;
background: #E3B881;
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
margin-left: 100px;
}

#feedback {
display: flex;
flex-direction: row;
justify-content: center;
font-size: 15px;
}


.MyClosetHeader h2 {
padding: 100px 30px 20px 20px;
color: #161616;
font-size: 40px;
font-weight: 700;
line-height: 48px;
}

.MyCloset h3 {
color: #000;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; 
text-decoration: underline solid #2E2B2B;
}


#itemslist {
display: flex;
flex-direction: row;
justify-content: center
}

#itemsbuttons {
padding: 10px;
margin: 15px
}


fieldset {
margin:15px;
width: 165px;
height: 165px;
flex-shrink: 0;
border-radius: 10px;
background: #D9D9D9;
border: white;
}

#items-container p {
font-size: 11px;   
}

.ClosetButtons {
width: 165px;
margin-bottom: 5px;
border-radius: 8px;
background: #E3B881;
color: var(--blackish, #2E2B2B);
font-size: 10px;
font-weight: 600;
line-height: 18px;
letter-spacing: 0.8px;
}

.confirmbutton {
width: 124px;
margin-bottom: 5px;
border-radius: 8px;
background: #E3B881;
color: var(--blackish, #2E2B2B);
font-size: 10px;
font-weight: 600;
line-height: 18px;
letter-spacing: 0.8px;
margin-left: 10px;
}

#container form{
display: flex;
flex-direction: row;
}

#datepicker {
width: 100px;   
height: 10px;
margin-right: 5px;
font-size: 55%;
border-radius: 8px;
}

#confirm {
width: 60px;
height: 18px;
border-radius: 6px;
background: #E3B881;
color: var(--blackish, #2E2B2B);
font-size: 8px;
font-weight: 700;
line-height: 13px;
letter-spacing: 0.5px;
}

#editform {
position: absolute;
background-color: rgb(255, 255, 255);
width: 250px;
margin-left: -20px;
border-radius: 20px;
}

#editform label, #editform input {
width: 200px;
height: 5px;
margin-left: 10px;
}

#editform select{
width: 200px;
height: 20px;
margin-left: 10px;
border-radius: 20px;
}

#editform input, label {
font-size: 80%;
}

