* {
  font-family: 'Inter', sans-serif;
}


body {
  height: 100vh;
  width: 1440px;
  margin: 0 auto;
  scroll-padding-top: 100px;
}

/*Nav css */

#logo {
  width: 149px;
  height: 95px;
  flex-shrink: 0;
  margin-left: 40px;
  margin-right: 600px;
}

.navbar {
  width: 1440px;
  height: 110px;
  flex-shrink: 0;
  border: 2px solid #797070;
  background: rgba(241, 214, 179, 0.7);
  cursor: pointer;
  position: fixed;
}

.navbar li {
  display: inline-block;
  padding: 30px 30px;
  text-shadow: 5px 5px 10px black;
  font-size: 120%;
  font-weight: bold;
}

 li a:hover {
  color: #615d58;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Banner css */
#banner {
  width: 1440px;
  height: 805px;
  flex-shrink: 0;
 padding-top: 110px;

}

.banner h1 {
  color: #2E2B2B;
  text-align: center;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1.92px;
  text-transform: uppercase;
  margin-top: -550px;
  margin-left: 700px;
  float: auto;

}

.banner h2 {
  color: #2E2B2B;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 700px;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}


.howitworks h2,
.signin h2 {
  text-align: center;
  margin-top: 450px;
  padding-top: 30px;
  color: var(--blackish, #2E2B2B);
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-weight: 800;
  line-height: 24px;
  /* 60% */
  letter-spacing: 1.6px;
}

/*How it Works css */
.howitworks {
  width: 1440px;
  height: 450px;
  background-color: #F5F5F5;
  margin-top: -10px;
}

.images,
.paragrafs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 200px;
  margin-left: 100px;
}

.paragrafs {
  margin-right: 150px;
  margin-left: 200px;
}

.howitworks img {
  width: 227.946px;
  height: 226.974px;
  flex-shrink: 0;
  border-radius: 25px;
  background: lightgray -0.914px -5.68px / 110.455% 169.012% no-repeat, #D9D9D9;
  box-shadow: 7px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.howitworks p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 125% */
  letter-spacing: 1.92px;
  text-transform: capitalize;
}

/* SignUp */

.register {
  width: 1440px;
  height: 640px;
  background-color: #E0B57E; ;
}
.form-container h3 {
  color: #2E2B2B;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 70% */
  text-decoration: underline solid #2E2B2B;
}

.form-container {
  flex-shrink: 0;
  background-color: #E0B57E;
  margin-left: 150px;
  margin-right: 200px;
  float: left;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  display: flex;
  width: 432px;
  height: 30px;
  padding: 8px;
  margin-bottom: 20px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid var(--black, #000);
  background: var(--white, rgba(255, 255, 255, 0.70));
}

.form-field-button {
  width: 300px;
  height: 50px;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid  #FFF;
  background:  #504538;
  color:  #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-weight: 500;
  line-height: 24px; /* 80% */
}

.success-message {
  background-color: #7cd49f;
  padding: 15px;
  color: white;
  text-align: center;
}

span {
  font-size: 10px;
  color: rgb(194, 53, 53);
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

.member{
  color: #000;

  /* Body L */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.member p {
  color: #000;
/* Link L */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

button:disabled {
  cursor: default;
}

 #signuppicture {
  width: 410px;
  height: 410px;
  margin-top: 111px;
  background: lightgray -1.758px -7.731px / 154.883% 103.256% no-repeat, #D9D9D9;
  box-shadow: 7px 13px 10px 0px rgba(0, 0, 0, 0.25);
 }


 /*Footer */

 .footer {
  width: 1440px;
  height: 315px;
  background: var(--braun, #6c584c);
  display: flex;
  align-items: center;
}

.image {
  width: 149px;
  height: 95px;
  padding: 100px;
 }

 .footer h3{
  color: #FFF;
/* Link L */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
 }

 .followus {
  padding-left:280px;
  padding-top:220px;
  text-align: center;
 }

 .followus img {
  padding: 10px;
 }



/*SignIn */

/*.app {
  font-family:'Dosis', sans-serif;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: rgb(142, 171, 142); 
  border: 1px solid  rgb(142, 171, 142);
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}